@import "../common/mixins";
@import "../common/placeholders";
@import "../common/variables";
@import "../common/functions";
@import "../common/config";

.box-tour {
  margin: 0 auto;
  font-size: 20px;
  width: 300px;
  background-color: $white;

  &__img {
    @include size(100%, 200px);
    @extend %flex;

    justify-content: flex-end;
    align-items: flex-end;

    background-color: $purple;

    &__delete {

    }
  }

  &__info {
    background-color: $white;
    padding: 20px;
    &__title {
      @include color-and-weight($black, $bold);

      margin-bottom: 10px;
      font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
    }

    &__desc {
      @include color-and-weight($gray, $regular);

      margin-bottom: 10px;
      font-size: calcFluidFontSize($font-S, $font-S, 320, 1920);
    }

    &__place {
      @extend %flex;

      margin-bottom: 10px;
      @include color-and-weight($black, $medium);
      font-size: calcFluidFontSize($font-M/1.3, $font-M/1.3, 320, 1920);
    }

    &__seats {
      @extend %flex;

      @include color-and-weight($black, $medium);

      margin-bottom: 10px;
      font-size: calcFluidFontSize($font-M/1.3, $font-M/1.3, 320, 1920);
    }

    &__price {
      @extend %flex;

      @include color-and-weight($black, $medium);

      font-size: calcFluidFontSize($font-M/1.3, $font-M/1.3, 320, 1920);
    }

  }
}

.bold {
  padding-button: 5px;
  @include color-and-weight($purple, $bold);
  font-size: calcFluidFontSize($font-M/1.3, $font-M/1.3, 320, 1920);
}

.delete {
  @include color-and-weight($white, $regular);

   cursor: pointer;
  margin: 20px;
  font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
}
