@import "../common/mixins";
@import "../common/placeholders";
@import "../common/variables";
@import "../common/functions";
@import "../common/config";

.choose-caterory {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include media(large-desktop) {
    background-image: url('#{$img}choose-category.jpg');
  }
}


@for $i from 1 through 4 {
  .img-category-#{$i} {
    background-image: url("#{$img}category/#{$i}.jpg");
  }
}

.up-content {
  @extend %flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;

  @include media(tablet) {
    justify-content: space-between;
    flex-direction: row;
  }

  &__arrows {
    @extend %flex-between;

    width: 100px;
    margin-bottom: 30px;

    &__arrow {
      display: flex;
      width: 270px;
    }

    &__arrow {
      @extend %flex-center;

      @include size(40px);

      cursor: pointer;
      transition: .3s;
      border: 3px solid $gray;
      color: $gray;
      font-size: 19px;

      &:hover {
        border: 3px solid $purple;
        background-color: $purple;
        color: $white;
      }
    }
  }
}