@import "../common/mixins";
@import "../common/placeholders";
@import "../common/variables";
@import "../common/functions";
@import "../common/config";

.experience {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 50px;

  @include media(large-desktop) {
    background-image: url('#{$img}experience-travel-back.jpg');
  }

  &__column {
    margin-bottom: 40px;
    width: 100%;

    @include media(mobile) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

    }
    @include media(small-tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 270px;
    }
    @include media(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 170px;
    }
    @include media(desktop) {
      width: 180px;
    }
    @include media(large-desktop) {
      width: 270px;
    }
  }

}

.boxes {
  @extend %flex-between;

  flex-wrap: wrap;
  width: 100%;

  @include media(mobile) {
    flex-wrap: wrap;
    flex-direction: row;
  }
  @include media(small-tablet) {
    flex-wrap: wrap;
    flex-direction: row;
  }
  @include media(large-desktop) {
    justify-content: space-between;
  }
}

.box {
  @extend %flex;
  @include size(100%, 400px);

  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include media(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
  }
  @include media(large-desktop) {
    height: 400px;
  }

  &__category {
    @extend %flex-center;

    @include color-and-weight($white, $regular);
    @include size(120px, 30px);

    font-size: calcFluidFontSize(15, $font-M, 320, 1920);
    opacity: .9;
    background-color: $purple;

  }
}

@for $i from 1 through 4 {
  .img-experience-#{$i} {
    background-image: url('#{$img}experience/#{$i}.jpg');
  }
}

.title-box {
  @include color-and-weight($black, $bold);

  margin: 30px 0;
  font-size: calcFluidFontSize(15, $font-M, 320, 1920);
}

.subtitle-box {
  @include color-and-weight($gray, $regular);

  width: 100%;
  font-size: calcFluidFontSize($font-S, $font-S, 320, 1920);
}

