@import "../common/mixins";
@import "../common/placeholders";
@import "../common/variables";
@import "../common/functions";
@import "../common/config";

.container-list {
  margin: 0 auto;
  width: 60vw;
}

.tour-item {
  @extend %flex;
  border: 1px solid $gray;
  min-height: 70px;
  background-color: $white;

  &__item {
    padding: 15px;
    flex-direction: column;
    //border-right: 1px solid $gray;

    &__category{
      width: 15%;
    }
    &__country{
      width: 15%;
    }
    &__desc{
      width: 40%;
    }
    &__price{
      width: 15%;
    }
    &__date{
      width: 15%;
    }
  }
}

.item-name {
  @include color-and-weight($black, $bold);
}