<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Travel tours</title>
    <link type="text/css" rel="stylesheet" href="src/css/styles.css">
    <script src="https://kit.fontawesome.com/c5d43a2129.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="main-img"></div>
<div class="circle"></div>
<div class="layer line-back"></div>

<div class="container">
    <header class="header">
        <a href="/" class="logo" href="#">advento</a>
        <div class="navbar">
            <a href="/" class="navbar__item active">Home page
            </a>
            <a href="login" class="navbar__item active">Sigh in
            </a>
            <a href="register" class="navbar__item">Sigh up
            </a>
        </div>
        <div class="contact-us">Contact Us</div>
    </header>
    <%- body %>
</div>
<script src="ejs.js"></script>
<script src="parallax.js"></script>
</body>
</html>