<form action="login" method="POST">
    <div class="lr-block">
        <div class="lr-block__title">
            Sigh in
        </div>
        <div class="lr-block__inputs">
            <input type="email" name="email" class="lr-block__inputs__input"
                   placeholder="Enter Email" id="email">
            <input type="password" name="password" class="lr-block__inputs__input"
                   placeholder="Enter Password"
                   id="password">
        </div>
        <button type="submit" class="lr-block__button">Login</button>
    </div>
</form>