$purple: #433A8B;
$white: #FFFFFF;
$pink: #FE6091;
$gray: #999999;
$red: #FE0000;
$black: #000000;

$background: #F6F6F6;

$font-XL: 50;
$font-logo: 36;
$font-L: 28;
$font-M: 19;
$font-S: 14;


$extra-bold: 900;
$bold: 700;
$medium: 600;
$regular: 500;

$img: '../../img/';