@import "../common/mixins";
@import "../common/placeholders";
@import "../common/color";
@import "../common/functions";
@import "../common/ properties-of-font";
@import "../common/config";


header {
  font-size: calcFluidFontSize(14, $font-M, 320, 1920);
  margin-top: 60px;
  flex-wrap: wrap;
  flex-direction: column;

  @include color-and-weight($gray, $medium);
  @include media(tablet) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  @include media(large-desktop) {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  @extend %flex-between;
}

.logo {
  cursor: pointer;
  font-size: calcFluidFontSize($font-logo, $font-logo, 320, 1920);
  text-transform: uppercase;

  @include color-and-weight($purple, $extra-bold);
  @include media(mobile) {
    justify-content: flex-start;
  }

  @extend %flex-center;

}

.navbar {
  @include media(mobile) {
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  @include media(small-tablet) {
    align-items: center;
    width: 400px;
  }
  @include media(tablet) {
    justify-content: space-around;
  }
  @include media(large-desktop) {
    justify-content: space-around;
  }

  @extend %flex;
  flex-direction: column;
  margin: 20px 0px;
  width: 100%;

  &__item {
    cursor: pointer;
    transition: .3s;

    &::after {
      content: '';
      display: block;
      border-radius: 50px;
      transition: .5s;
      background-color: $purple;

      @include size(20px, 3px);
    }

    &:hover::after {
      transition: .5s;
      width: 100%;
    }
  }
}

.contact-us {
  cursor: pointer;
  background-color: $white;
  transition: .3s;

  @include size(200px, 50px);

  @extend %flex-center;

  &:hover {
    transition: .3s;
    opacity: .7;
  }
}

.main-info {
  margin-top: 100px;

  @include media(tablet) {
  }
  @include media(large-desktop) {
    margin-top: 360px;
  }

  &__title {
    font-size: calcFluidFontSize(25, $font-XL, 320, 1920);

    @include color-and-weight($black, $extra-bold);

  }

  &__subtitle {
    font-size: calcFluidFontSize(15, $font-L, 320, 1920);

    @include color-and-weight($gray, bold);

  }
}

.search {
  margin-top: 150px;
  width: 100%;
  max-width: 650px;
  margin-bottom: 200px;

  @include media(small-tablet) {
    display: flex;
  }

  &__input {
    font-size: calcFluidFontSize(14, $font-M, 320, 1920);
    width: 100%;
    height: 70px;
    background-color: $white;
    transition: .3s;
    padding-left: 20px;
    margin-bottom: 20px;

    @include color-and-weight($black, $regular);

    @extend %flex-center;
  }

  &__button {
    cursor: pointer;
    transition: .3s;
    font-size: calcFluidFontSize(14, $font-M, 320, 1920);
    margin: 0 auto;
    background-color: $purple;
    color: $white;

    @extend %flex-center;

    @include color-and-weight($white, $medium);
    @include size(200px, 70px);

    &:hover {
      transition: .3s;
      background-color: $pink;
    }
  }
}
