.box, .navbar, .content__right, .content, .email, .awesome-clients__slider, .up-content__arrows, .up-content, .boxes, header, .made, .email__button, .awesome-clients__info__name, .awesome-clients__slider__arrow, .circle-play, .blackout, .video-cover, .up-content__arrows__arrow, .box__category, .search__button, .search__input, .contact-us {
  display: flex;
}

.made, .email__button, .awesome-clients__info__name, .awesome-clients__slider__arrow, .circle-play, .blackout, .video-cover, .up-content__arrows__arrow, .box__category, .search__button, .search__input, .contact-us {
  justify-content: center;
  align-items: center;
}

.content__right, .content, .email, .awesome-clients__slider, .up-content__arrows, .up-content, .boxes, header {
  justify-content: space-between;
}

.box, .navbar, .made, .email__button, .awesome-clients__info__name, .awesome-clients__slider__arrow, .circle-play, .blackout, .video-cover, .up-content__arrows__arrow, .box__category, .search__button, .search__input, .contact-us, .content__right, .content, .email, .awesome-clients__slider, .up-content__arrows, .up-content, .boxes, header {
  display: flex;
}

.made, .email__button, .awesome-clients__info__name, .awesome-clients__slider__arrow, .circle-play, .blackout, .video-cover, .up-content__arrows__arrow, .box__category, .search__button, .search__input, .contact-us {
  justify-content: center;
  align-items: center;
}

.content__right, .content, .email, .awesome-clients__slider, .up-content__arrows, .up-content, .boxes, header {
  justify-content: space-between;
}

header {
  font-weight: 600;
  color: #999999;
  font-size: calc( 0.003125 * 100vw + 13px );
  margin-top: 60px;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  header {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1220px) {
  header {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.logo {
  cursor: pointer;
  font-weight: 900;
  color: #433A8B;
  font-size: calc( 0 * 100vw + 36px );
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.navbar {
  flex-direction: column;
  margin: 20px 0px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .navbar {
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 600px) {
  .navbar {
    align-items: center;
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1220px) {
  .navbar {
    justify-content: space-around;
  }
}
.navbar__item {
  cursor: pointer;
  transition: 0.3s;
}
.navbar__item::after {
  height: 3px;
  width: 20px;
  content: "";
  display: block;
  border-radius: 50px;
  transition: 0.5s;
  background-color: #433A8B;
}
.navbar__item:hover::after {
  transition: 0.5s;
  width: 100%;
}

.contact-us {
  height: 50px;
  width: 200px;
  cursor: pointer;
  background-color: #FFFFFF;
  transition: 0.3s;
}
.contact-us:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.main-info {
  margin-top: 100px;
}
.main-info__title {
  font-weight: 900;
  color: #000000;
  font-size: calc( 0.015625 * 100vw + 20px );
}
.main-info__subtitle {
  font-weight: bold;
  color: #999999;
  font-size: calc( 0.008125 * 100vw + 12.4px );
}
@media screen and (min-width: 1220px) {
  .main-info {
    margin-top: 360px;
  }
}

.search {
  margin-top: 150px;
  width: 100%;
  max-width: 650px;
  margin-bottom: 200px;
}
@media screen and (min-width: 600px) {
  .search {
    display: flex;
  }
}
.search__input {
  font-weight: 500;
  color: #000000;
  font-size: calc( 0.003125 * 100vw + 13px );
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  transition: 0.3s;
  padding-left: 20px;
  margin-bottom: 20px;
}
.search__button {
  font-weight: 600;
  color: #FFFFFF;
  height: 70px;
  width: 200px;
  cursor: pointer;
  transition: 0.3s;
  font-size: calc( 0.003125 * 100vw + 13px );
  margin: 0 auto;
  background-color: #433A8B;
  color: #FFFFFF;
}
.search__button:hover {
  transition: 0.3s;
  background-color: #FE6091;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: #F6F6F6;
  outline: 0;
}

input {
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
}

.container {
  transition: 0.3s;
  margin: 0 auto;
  max-width: 300px;
  min-width: 300px;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 600px) {
  .container {
    max-width: 560px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1220px) {
  .container {
    max-width: 1170px;
  }
}

.title {
  font-weight: 900;
  color: #433A8B;
  font-size: calc( 0.015625 * 100vw + 20px );
  margin: 30px 0;
}

.subtitle {
  font-weight: 500;
  color: #999999;
  font-size: calc( 0 * 100vw + 14px );
  margin-bottom: 30px;
  max-width: 600px;
}

.main-img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1080px;
  width: 44vw;
  right: 0;
  top: 0;
  z-index: -6;
}
@media screen and (min-width: 1220px) {
  .main-img {
    background-image: url("https://i.ibb.co/zby7Kps/main.jpg");
  }
}

.experience {
  width: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 50px;
}
@media screen and (min-width: 1220px) {
  .experience {
    background-image: url(../../img/experience-travel-back.jpg);
  }
}

.boxes {
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .boxes {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: ) {
  .boxes {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1220px) {
  .boxes {
    justify-content: space-between;
  }
}

.experience__column {
  margin-bottom: 40px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .experience__column {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .experience__column {
    flex-direction: row;
    flex-wrap: wrap;
    width: 270px;
  }
}
@media screen and (min-width: 768px) {
  .experience__column {
    flex-direction: row;
    flex-wrap: wrap;
    width: 170px;
  }
}
@media screen and (min-width: 1024px) {
  .experience__column {
    width: 180px;
  }
}
@media screen and (min-width: 1220px) {
  .experience__column {
    width: 270px;
  }
}

.box {
  justify-content: flex-end;
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .box {
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
  }
}
@media screen and (min-width: 1220px) {
  .box {
    height: 400px;
  }
}
.box__category {
  font-size: calc( 0.0025 * 100vw + 14.2px );
  font-weight: 500;
  color: #FFFFFF;
  height: 30px;
  width: 120px;
  opacity: 0.9;
  background-color: #433A8B;
}

.img-experience-1 {
  background-image: url("../../img/experience/1.jpg");
}

.img-experience-2 {
  background-image: url("../../img/experience/2.jpg");
}

.img-experience-3 {
  background-image: url("../../img/experience/3.jpg");
}

.img-experience-4 {
  background-image: url("../../img/experience/4.jpg");
}

.title-box {
  margin: 30px 0;
  font-weight: 700;
  color: #000000;
  font-size: calc( 0.0025 * 100vw + 14.2px );
}

.subtitle-box {
  width: 100%;
  font-weight: 500;
  color: #999999;
  font-size: calc( 0 * 100vw + 14px );
}

.circle {
  z-index: -3;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 453px;
  background-size: auto;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1220px) {
  .circle {
    background-image: url(../../img/circle.png);
  }
}

.choose-caterory {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0px;
}
@media screen and (min-width: 1220px) {
  .choose-caterory {
    background-image: url(../../img/choose-category.jpg);
  }
}

.img-category-1 {
  background-image: url("../../img/category/1.jpg");
}

.img-category-2 {
  background-image: url("../../img/category/2.jpg");
}

.img-category-3 {
  background-image: url("../../img/category/3.jpg");
}

.img-category-4 {
  background-image: url("../../img/category/4.jpg");
}

.up-content {
  width: 100%;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .up-content {
    flex-direction: row;
  }
}
.up-content__arrows {
  width: 100px;
  margin-bottom: 30px;
}
.up-content__arrows__arrow {
  display: flex;
  width: 270px;
}
.up-content__arrows__arrow {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: 0.3s;
  border: 3px solid #999999;
  color: #999999;
  font-size: 19px;
}
.up-content__arrows__arrow:hover {
  border: 3px solid #433A8B;
  background-color: #433A8B;
  color: #FFFFFF;
}

.arrow:hover {
  transition: 0.3s;
  background-color: #433A8B;
  border: 3px solid #433A8B;
  color: white;
}

.adventure-trip {
  padding-bottom: 100px;
  width: 100%;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1220px) {
  .adventure-trip {
    background-image: url(../../img/video-back.jpg);
  }
}

.video-cover {
  width: 100%;
  height: 45vw;
  background-image: url("http://www.travelstart.co.ke/blog/wp-content/uploads/2017/12/48.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.blackout {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 1s;
}

.blackout:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 1s;
}

.circle-play {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
}

.circle-play-two {
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: white;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.circle-play-two:hover {
  transition: 0.3s;
  height: 100px;
  width: 100px;
}

.awesome-clients {
  width: 100%;
  background-image: url(../../img/circles.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.awesome-clients__slider {
  width: 100%;
  align-items: center;
}
.awesome-clients__slider__arrow {
  height: 40px;
  width: 40px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 19;
  border-radius: 50%;
  background-color: #433A8B;
}
.awesome-clients__slider__arrow:hover {
  height: 50px;
  width: 50px;
}
.awesome-clients__slider__client {
  cursor: pointer;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.awesome-clients__slider__client__small {
  height: 50px;
  width: 50px;
  display: none;
}
@media screen and (min-width: 768px) {
  .awesome-clients__slider__client__small {
    display: block;
  }
}
.awesome-clients__slider__client__medium {
  display: none;
  height: 100px;
  width: 100px;
}
@media screen and (min-width: 600px) {
  .awesome-clients__slider__client__medium {
    display: block;
  }
}
.awesome-clients__slider__client__large {
  height: 200px;
  width: 200px;
}
.awesome-clients__info {
  margin-bottom: 100px;
  width: 100%;
}
.awesome-clients__info__name {
  font-weight: 700;
  color: #000000;
  font-size: calc( 0.005625 * 100vw + 17.2px );
  margin: 30px 0;
}
.awesome-clients__info__review {
  font-weight: 500;
  color: #999999;
  text-align: center;
  max-width: 400px;
  width: 100%;
  font-size: calc( 0 * 100vw + 14px );
  margin: 0 auto;
}

.img-clients-1 {
  background-image: url("../../img/clients/1.jpeg");
}

.img-clients-2 {
  background-image: url("../../img/clients/2.jpeg");
}

.img-clients-3 {
  background-image: url("../../img/clients/3.jpeg");
}

.img-clients-4 {
  background-image: url("../../img/clients/4.jpeg");
}

.img-clients-5 {
  background-image: url("../../img/clients/5.jpeg");
}

.feedback {
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://cita.com.ua/img/ntours/big/4/1049071809.jpg");
}
.feedback__color-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(67, 58, 139, 0.7);
}

.email {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 50px;
}
.email__input {
  font-weight: 500;
  color: #000000;
  width: 100%;
  padding-left: 20px;
  border-radius: 50px;
  font-size: calc( 0.003125 * 100vw + 13px );
}
.email__button {
  height: 60px;
  width: 200px;
  font-weight: 600;
  color: #FFFFFF;
  font-size: calc( 0.003125 * 100vw + 13px );
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
  background-color: #433A8B;
  transition: 0.3s;
}
.email__button:hover {
  transition: 0.3s;
  background-color: #FE6091;
}

.text-end {
  font-weight: 900;
  color: #FFFFFF;
  font-size: calc( 0.0225 * 100vw + 6.8px );
}

.footer {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1220px) {
  .footer {
    background-image: url("../../img/footer-back.png");
  }
}

.content {
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .content {
    flex-direction: row;
  }
}
.content__left {
  width: 40%;
  margin-bottom: 40px;
}
.content__left__logo {
  cursor: pointer;
  font-weight: 900;
  color: #433A8B;
  font-size: calc( 0 * 100vw + 36px );
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.content__left__icons {
  font-weight: 900;
  color: #433A8B;
  font-size: calc( 0.005 * 100vw + 18.4px );
}
.content__left__icons__icon {
  transition: 0.3s;
  cursor: pointer;
}
.content__left__icons__icon:hover {
  font-weight: 900;
  color: #FE6091;
}
.content__right {
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .content__right {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .content__right {
    width: 40%;
  }
}
.content__right__column__title {
  margin-bottom: 10px;
  font-weight: 700;
  color: #000000;
  font-size: calc( 0.005625 * 100vw + 17.2px );
}
.content__right__column__items {
  font-weight: 500;
  color: #999999;
  font-size: calc( 0 * 100vw + 14px );
}
.content__right__column__items__item {
  transition: 0.3s;
  cursor: pointer;
}
.content__right__column__items__item:hover {
  font-weight: 500;
  color: #433A8B;
}

.made {
  font-size: calc( 0.003125 * 100vw + 13px );
  font-weight: 700;
  color: #000000;
  width: 100%;
  height: 95px;
  border-top: 1px solid #E3E3E3;
}

/*# sourceMappingURL=styles.css.map */
