.navbar, .logo-and-navbar, header, .button-search, .contact-us {
  display: flex;
}

.button-search, .contact-us {
  justify-content: center;
  align-items: center;
}

.navbar, .logo-and-navbar, header {
  justify-content: space-between;
}

header {
  font-weight: 600;
  color: #999999;
  font-size: calc( 0.003125 * 100vw + 13px );
  margin-top: 60px;
}
@media screen and (min-width: 320px) {
  header {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (min-width: 760px) {
  header {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1170px) {
  header {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.logo-and-navbar {
  width: 70%;
}
@media screen and (min-width: 320px) {
  .logo-and-navbar {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (min-width: 1170px) {
  .logo-and-navbar {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.logo {
  font-weight: 900;
  color: #433A8B;
  font-size: calc( 0 * 100vw + 36px );
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) {
  .navbar {
    flex-direction: column;
    margin: 15px 0;
  }
}
@media screen and (min-width: 1170px) {
  .navbar {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.navbar__item {
  cursor: pointer;
  margin-right: 20px;
  transition: 0.3s;
}

.navbar__item::after {
  height: 3px;
  width: 20px;
  content: "";
  display: block;
  border-radius: 50px;
  transition: 0.5s;
  background-color: #433A8B;
}

.navbar__item:hover::after {
  transition: 0.5s;
  content: "";
  width: 100%;
}

.contact-us {
  height: 50px;
  width: 200px;
  cursor: pointer;
  background-color: #FFFFFF;
  transition: 0.3s;
}

.contact-us:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.main-info {
  margin-top: 360px;
}
@media screen and (min-width: 320px) {
  .main-info {
    margin-top: 100px;
  }
}

.main__title {
  color: #000000;
}

.input-and-button {
  margin-top: 150px;
  width: 100%;
  margin-bottom: 200px;
}

.find_input {
  font-weight: 600;
  color: #999999;
  font-size: calc( 0.003125 * 100vw + 13px );
  padding-left: 10px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 100%;
  border: none;
  outline: 0;
  margin-bottom: 15px;
}

.button-search {
  margin: 0 auto;
  font-weight: 600;
  color: #FFFFFF;
  font-size: calc( 0.003125 * 100vw + 13px );
  width: 200px;
  height: 70px;
  background-color: #433A8B;
  cursor: pointer;
  transition: 0.3s;
}

.button-search:hover {
  transition: 0.3s;
  background-color: #FE6091;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: #F6F6F6;
  outline: 0;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 80vw;
  }
}
@media screen and (min-width: 1170px) {
  .container {
    max-width: 65vw;
  }
}

.title {
  font-weight: 900;
  color: #000000;
  font-size: calc( 0.015625 * 100vw + 20px );
}

.subtitle {
  font-weight: bold;
  color: #999999;
  font-size: calc( 0.005 * 100vw + 18.4px );
}

/*# sourceMappingURL=styles.css.map */
